h1{
    background-color: bisque;
    font-size: 60px;
    color: blueviolet;
    
}
.div{
    font-size: 30px;
    color:coral;
    background-color: darkgrey;
    border: 5px dashed black;
    border-radius: 60px;
    margin-left: 100px;
    padding: 50px;
    width: 100px;
}